* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.login_container {
  background: #0d0d0d;
  width: 420px;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.login_container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
}

label {
  font-size: 14px;
  color: #ccc;
}

input {
  width: 100%;
  margin: 8px 0 18px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #222;
  background: #0c0c0c;
  color: #eee;
  outline: none;
}

.password_box {
  position: relative;
}

.password_box i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
}

.forgot {
  display: block;
  text-align: right;
  font-size: 13px;
  margin-bottom: 20px;
  color: #89c4ff;
}

.btn_login {
  width: 100%;
  padding: 13px;
  background: #23abd1;
  color: #ffffffdc;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 25px;
}

.btn_login:hover{
    background: #00c8ff;
    color: #fff;
}

.divider {
  text-align: center;
  color: #777;
  margin-bottom: 20px;
  position: relative;
}

.divider span {
  background: #0d0d0d;
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.divider::before {
  content: "";
  height: 1px;
  width: 100%;
  background: #333;
  position: absolute;
  top: 50%;
  left: 0;
}

.btn_social {
  width: 100%;
  padding: 12px;
  background: rgba(0,0,0,0.3);
  border: 1px solid #222;
  color: #dddddd8f;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn_social:hover{
    background: rgba(0,0,0,0.8);
    border: 1px solid #00c8ff5e;
    color: #fff;
}

.signup {
  text-align: center;
  margin-top: 15px;
  color: #aaa;
}

.signup a {
  color: #00c8ff;
}

.message{
  font-size: 13px;
}