* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CONTAINER */
.container, 
.header__container, 
.hero__container, 
.collection__container, 
.trending__container, 
.testimonials__container, 
.newsletter__container, 
.footer__container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

/* HEADER */
.header {
  width: 100%;
  background: white;
  box-shadow: 0 2px 10px #00000010;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 0;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__link__home{
  text-decoration: none;
  border-bottom: 2px solid #000;
  color: #333;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
}

.header__link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 15px;
}

.header__search {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  padding: 6px 10px;
  border-radius: 10px;
  gap: 8px;
  color: rgba(0, 0, 0, 0.6);
}

.header__search input {
  border: none;
  background: transparent;
  padding: 10px;
  padding-right: 200px;
}

.header__icons i {
  font-size: 18px;
  margin-left: 15px;
  color: #000;
}

/* HISTORY */

.history h2 {
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
}

.empty {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.order {
    border: 1px solid rgba(0, 0, 0, 0.6);
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 16px;
    margin-bottom: 20px;
}

.order__header{
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    font-size: 20px;
}

.order__items {
    margin: 12px;
}

.item {
    display: flex;
    gap: 12px;
    padding-top: 12px;
    margin-top: 12px;
}

.info{
    align-content: center;
    font-size: 18px;
}

.item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.item h4 {
    margin-bottom: 8px;
}



/* FOOTER */
.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.footer__about {
  width: 260px;
}

.footer__socials {
  display: flex;
  margin-top: 10px;
}

.footer__socials i {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.footer__help a,
.footer__links a {
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin-top: 10px;
}

.footer__bottom {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: end;
  padding-bottom: 20px;
}

@media (max-width: 900px) {

  /* HEADER */
  .header__container {
    padding: 10px 16px;
  }

  .header__search input {
    padding-right: 0;
    width: 140px;
  }

  .item img {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 576px) {


  .item {
    flex-direction: column;
    text-align: center;
  }

  .item img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: auto;
  }

  .info {
    font-size: 16px;
  }

  .footer__container {
    flex-direction: column;
    gap: 25px;
    text-align: center;
  }

  .footer__socials {
    justify-content: center;
  }

  .footer__about{
    margin-left: 60px;
  }

  .footer__bottom {
    text-align: center;
  }
}

