* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* CONTAINER */
.container,
.header__container,
.hero__container,
.collection__container,
.trending__container,
.newsletter__container,
.footer__container,
.testimonials__container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

/* HEADER */
.header {
  width: 100%;
  background: white;
  box-shadow: 0 2px 10px #00000010;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 0;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__link__home{
  text-decoration: none;
  border-bottom: 2px solid #000;
  color: #333;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
}

.header__link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 15px;
}

.header__search {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  padding: 6px 10px;
  border-radius: 10px;
  gap: 8px;
  color: rgba(0, 0, 0, 0.6);
}

.header__search input {
  border: none;
  padding: 10px;
  padding-right: 200px;
}

.header__icons i {
  font-size: 18px;
  margin-left: 15px;
  color: #000;
}



/* HERO SETION */

.hero{
  background: url(image/Banner.png) center/cover no-repeat;
  width: 100%;
  height: 850px;
  position: relative;
}

.hero__content{
  text-align: center;
  align-content: center;
}

.hero::after{
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero__title{
  margin-top: 320px;
  position: relative;
  color: #fff;
  z-index: 2;
  font-size: 48px;
}

.hero__des{
  z-index: 2;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}

.hero__a{
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 10px;
}

/* COLLECTION */

.collection__title{
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
}

.collection__subtitle{
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.collection__grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 25px;
}

.collection__card {
  width: 370px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  cursor: pointer;
}

.collection__card:hover{
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

.collection__card__img {
  position: relative;
}

.collection__card__img img {
  width: 100%;
  height: 280px;
}


.collection__card__desc {
  padding: 15px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
}

.collection__card__link {
  display: block;
  padding: 15px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

/* TRENDING PRODUCT*/
.trending__header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  align-items: center;
}

.trending__title {
  font-size: 32px;
  font-weight: 600;
}

.trending__subtitle {
  color: rgba(0, 0, 0, 0.6);
}

.trending__viewall {
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.product__sp{
  display: flex;
}

.product-card {
  width: 290px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  border-radius: 25px;
  padding-bottom: 20px;
  margin-right: 20px;
}

.product-card:hover{
  box-shadow: 0 4px 15px rgba(0,0,0,0.6);
  transition: 0.5s;
}

.product-card img{
  width: 288px;
  border-radius: 20px 20px 0px 0px;
}

.product-card__name {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 15px;
}

.product-card__desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 15px;
}

.product-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.product-card__price {
  font-size: 20px;
  font-weight: 600;
}

.product-card__link {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  margin: 10px 15px;
  text-decoration: none;
}

.product-card__link:hover{
  box-shadow: 0 4px 15px rgba(0,0,0,0.6);
}

/* TESTIMONIAL */
.testimonials {
  padding: 60px 0;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
}

.testimonial-card {
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.testimonial-card__stars {

  color: gold;
  font-size: 20px;
}

.testimonial-card__user {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* NEWSLETTER */
.newsletter {
  padding: 60px 0;
  background: black;
  color: white;

  text-align: center;
  
}

.newsletter__form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.newsletter__form input {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: none;
}

.newsletter__button {
  padding: 10px 15px;
  border: none;
  background: rgb(24, 23, 23);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

/* FOOTER */
.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.footer__about {
  width: 260px;
}

.footer__socials {
  display: flex;
  margin-top: 10px;
}

.footer__socials i {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.footer__help a,
.footer__links a {
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin-top: 10px;
}

.footer__bottom {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: end;
  padding-bottom: 20px;
}

.notice {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.not__login {
  background: #fff;
  padding: 25px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
  animation: fadeIn 0.25s ease;
}

.not__login h3 {
  margin-bottom: 10px;
}

.login__signup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.login__signup button {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #000;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .header__nav {
    display: none;
  }
  .hero__container {
    flex-direction: column;
    text-align: center;
  }
  .hero__image img {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  .hero__title {
    font-size: 28px;
  }
  .newsletter__form {
    flex-direction: column;
  }
  .newsletter__form input {
    width: 100%;
  }
  .newsletter__button {
    width: 100%;
  }
}

.product__list {
    position: absolute;
    width: 100%;
    background: white;
    top: 45px;
    left: 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    display: none;
    max-height: 250px;
    overflow-y: auto;
    z-index: 999;
}

.search-item {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.search-item img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.search-item:hover {
    background: #f5f5f5;
}

