* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==== CONTAINER ==== */
.container, 
.header__container, 
.hero__container, 
.collection__container, 
.trending__container, 
.testimonials__container, 
.newsletter__container, 
.footer__container {
  width: 1200px;
  margin: 0 auto;
}

/* ==== HEADER ==== */
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 9999;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.header__search {
  position: relative;
}

.header__search i {
  position: absolute;
  left: 20px;
  top: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.header__search input {
  padding-left: 45px;
  font-size: 15px;
  width: 560px;
  height: 48px;
  border-radius: 62px;
  border: 1px solid rgba(242, 240, 241, 1);
  background-color: rgba(242, 240, 241, 1);
}

.header__icons i {
  margin-left: 15px;
  font-size: 20px;
}

/* ==== HERO ==== */
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.hero__content {
  max-width: 50%;
}

.hero__title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero__description {
  color: rgba(0, 0, 0, 0.6);
  margin: 10px 0;
}

.hero__button {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 15px 40px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.hero__image img {
  margin-left: 50px;
}

/* ==== COLLECTION ==== */
.collection {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.collection__title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.collection__subtitle {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 10px 0 30px;
}

.collection__grid {
  display: flex;
}

.collection__item {
  background-color: #fff;
  width: 390px;
  border-radius: 25px;
  padding-bottom: 20px;
  margin-right: 15px;
}

.collection__item img{
    width: 391px;
}

.collection__desc {
  padding: 20px;
  color: rgba(0, 0, 0, 0.68);
}

.collection__link {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* ==== TRENDING ==== */
.trending__header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  align-items: center;
}

.trending__title {
  font-size: 32px;
  font-weight: 600;
}

.trending__subtitle {
  color: rgba(0, 0, 0, 0.6);
}

.trending__viewall {
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.trending__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  width: 290px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding-bottom: 20px;
  margin-right: -7px;
}

.product-card img{
    width: 288px;
}

.product-card__name {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 15px;
}

.product-card__desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 15px;
}

.product-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.product-card__price {
  font-size: 20px;
  font-weight: 600;
}

.product-card__link {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  margin: 10px 15px;
  text-decoration: none;
}

/* ==== TESTIMONIALS ==== */
.testimonials{
    margin: 50px 0px;
}

.testimonials__grid {
  display: flex;
  margin: 30px 0;
  gap: 15px;
  justify-content: space-between;
}

.testimonial-card {
  width: 380px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 15px;
  background-color: #fff;
}

.testimonial-card__stars {
  font-size: 25px;
  color: gold;
}

.testimonial-card__user {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.testimonial-card__user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testimonial-card__user p {
  margin-left: 10px;
  font-weight: 700;
}

.testimonial-card__text {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
}

/* ==== NEWSLETTER ==== */
.newsletter {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 50px 10px;
  text-align: center;
}

.newsletter__title {
  font-size: 32px;
  font-weight: 600;
}

.newsletter__desc {
  color: rgba(255, 255, 255, 0.7);
  margin: 10px 0 30px;
}

.newsletter__form {
  display: flex;
  justify-content: center;
}

.newsletter__form input {
  width: 330px;
  height: 44px;
  border-radius: 10px;
  padding-left: 15px;
  margin-right: 15px;
  border: none;
}

.newsletter__button {
  width: 105px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* ==== FOOTER ==== */
.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.footer__about {
  width: 260px;
}

.footer__socials {
  display: flex;
  margin-top: 10px;
}

.footer__socials i {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.footer__help a,
.footer__links a {
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin-top: 10px;
}

.footer__bottom {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: end;
  padding-bottom: 20px;
}
